<h1><%= @whiskys.title %></h1>

<p><%= @whiskys.body %></p>

<h2>Comments</h2>
<%= render @whiskys.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to "Back", whiskys_path %>